<h1>Searching for - <%= @search_term %> </h1>

<table>
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= image_tag(recipe["image_url"]) %></td>
      <td><%= recipe["title"] %></td>
      <td><%= recipe["social_rank"] %></td>
    </tr>
  <% end %>
</table>
